apiVersion: v1
kind: Secret
metadata:
  name: goalert-database
  namespace: monitoring
type: Opaque
stringData:
  # postgres://goalert_user:<real-password>@10.10.10.10:5432/goalert
  DATABASE_URL: postgres://goalert_user:REPLACE_ME@10.10.10.10:5432/goalert
