apiVersion: v1
kind: Secret
metadata:
  name: alerta-database
  namespace: monitoring
type: Opaque
stringData:
  # Full connection string, e.g.:
  # postgres://alerta_user:<real-password>@10.10.10.10:5432/alerta
  DATABASE_URL: postgres://alerta_user:REPLACE_ME@10.10.10.10:5432/alerta
