#cloud-config
hostname: ${hostname}
manage_etc_hosts: true
package_update: true
package_upgrade: false

users:
  - default

  - name: ubuntu
    gecos: Ubuntu User
    shell: /bin/bash
    groups: [sudo]
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false
    passwd: ${ubuntu_password_hash}
    ssh_authorized_keys:
      - ${ubuntu_ssh_public_key}

  - name: ansible
    gecos: Ansible User
    shell: /bin/bash
    groups: [sudo]
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false
    passwd: ${ansible_password_hash}
    ssh_authorized_keys:
      - ${ansible_ssh_public_key}

packages:
  - curl
  - ca-certificates
  - gnupg
  - apt-transport-https
  - software-properties-common

write_files:
  - path: /etc/modules-load.d/k8s.conf
    permissions: "0644"
    content: |
      overlay
      br_netfilter

  - path: /etc/sysctl.d/99-kubernetes.conf
    permissions: "0644"
    content: |
      net.bridge.bridge-nf-call-iptables = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward = 1

runcmd:
  - swapoff -a
  - sed -i '/\sswap\s/s/^/#/' /etc/fstab
  - modprobe overlay
  - modprobe br_netfilter
  - sysctl --system

final_message: "cloud-init finished for ${hostname}"